#log
*.log

# gulp-atom
cache/
release/

# npm
node_modules/

# dest
src/dest/

# src
src/node_modules/
src/bower_components/

# api (ignore only my mendeley documents)
src/api/my_documents.json

# config
src/config/

# 汗
src/my_components/document-graph-old.html
